
<footer class="absolute bottom-0 p-4 translate-y-[100%] w-full  bg-secondary-light dark:bg-primary-dark">
    <h1>© Copyright {new Date(Date.now()).getFullYear()} • alex's site (pre release)</h1>
</footer>