---
const { redirectTarget, title, disabled} = Astro.props;
---

    <a href={disabled ? null : redirectTarget} class={`flex justify-center items-center 
        px-[20px] h-full rounded-[6px] transition-[125ms] origin-center
        ${disabled ? "" : "hover:font-semibold hover:bg-secondary-light/50 dark:hover:bg-secondary-dark/75"}`}>
        <span class={`select-none text-center text-[20px]
            ${disabled ? "text-typography-primary-light/25 dark:text-typography-primary-dark/25" : "text-typography-primary-light/100 dark:text-typography-primary-dark/100"}`}>{title}</span>

</a>

