---
---

<div class="navbar flex flex-row py-2 px-2">
    <div class="relative w-full h-full bg-primary-light/75 backdrop-blur-xs border-2 rounded-[10px] border-primary-outline-light/95
        dark:bg-primary-dark/75  dark:border-primary-outline-dark/95 shadow-[0px_0px_8px_2px_rgba(0,0,0,0.15)]">

    </div>
</div>

    