@import "tailwindcss";




@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}


body {
  cursor: none;
  background: black;
  color: white;
  font-family: "Times New Roman", sans-serif;
  width: 100%;
  min-width: 100%;
  height: 100vh;
  min-height: 100vh;


  cursor: url("/assets/images/cursors/macos/default.svg"), default;
 
 
}

button:hover, a:hover{
  cursor: url("/assets/images/cursors/macos/handpointing.svg"), pointer;
}


.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}