@import "tailwindcss";


@theme {
  --color-discord-ash: #323339;
  --color-discord-dark: #1D1D21;
  --color-discord-onyx: #000;
  
  --color-trueblack-50: oklch(0.8853 0 360);
  --color-trueblack-900: oklch(0.152 0 360);
  --color-trueblack-950: oklch(0.052 0 360);

  --breakpoint-portofolio-icons: 350px;
}



@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  } 
}


img, svg, image, Image {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
}

html {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
}


body {
  cursor: none;
  background: black;
  color: white;
  font-family: "Lato", sans-serif;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  margin-top: 64px;


  cursor: url("/assets/images/cursors/macos/default.svg"), default;
 
 
}

.navbar {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  border: 1px solid #505050;
  background: radial-gradient(29.99% 192.19% at 50% 50%, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.05) 100%);
  box-shadow: 0 0 16.5px 1px rgba(255, 255, 255, 0.25) inset;
  backdrop-filter: blur(12px);
}

button:hover, a:hover{
  cursor: url("/assets/images/cursors/macos/handpointing.svg"), pointer;
}