/* APPLY SCALE FIXES TO ALL COMPONENTS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* EASING */

$linear:            cubic-bezier( 0.250,  0.250,  0.750,  0.750 );
$ease:              cubic-bezier( 0.250,  0.100,  0.250,  1.000 );
$ease-in:           cubic-bezier( 0.420,  0.000,  1.000,  1.000 );
$ease-out:          cubic-bezier( 0.000,  0.000,  0.580,  1.000 );
$ease-in-out:       cubic-bezier( 0.420,  0.000,  0.580,  1.000 );

$ease-in-quad:      cubic-bezier( 0.550,  0.085,  0.680,  0.530 );
$ease-in-cubic:     cubic-bezier( 0.550,  0.055,  0.675,  0.190 );
$ease-in-quart:     cubic-bezier( 0.895,  0.030,  0.685,  0.220 );
$ease-in-quint:     cubic-bezier( 0.755,  0.050,  0.855,  0.060 );
$ease-in-sine:      cubic-bezier( 0.470,  0.000,  0.745,  0.715 );
$ease-in-expo:      cubic-bezier( 0.950,  0.050,  0.795,  0.035 );
$ease-in-circ:      cubic-bezier( 0.600,  0.040,  0.980,  0.335 );
$ease-in-back:      cubic-bezier( 0.600, -0.280,  0.735,  0.045 );

$ease-out-quad:     cubic-bezier( 0.250,  0.460,  0.450,  0.940 );
$ease-out-cubic:    cubic-bezier( 0.215,  0.610,  0.355,  1.000 );
$ease-out-quart:    cubic-bezier( 0.165,  0.840,  0.440,  1.000 );
$ease-out-quint:    cubic-bezier( 0.230,  1.000,  0.320,  1.000 );
$ease-out-sine:     cubic-bezier( 0.390,  0.575,  0.565,  1.000 );
$ease-out-expo:     cubic-bezier( 0.190,  1.000,  0.220,  1.000 );
$ease-out-circ:     cubic-bezier( 0.075,  0.820,  0.165,  1.000 );
$ease-out-back:     cubic-bezier( 0.175,  0.885,  0.320,  1.275 );

$ease-in-out-quad:  cubic-bezier( 0.455,  0.030,  0.515,  0.955 );
$ease-in-out-cubic: cubic-bezier( 0.645,  0.045,  0.355,  1.000 );
$ease-in-out-quart: cubic-bezier( 0.770,  0.000,  0.175,  1.000 );
$ease-in-out-quint: cubic-bezier( 0.860,  0.000,  0.070,  1.000 );
$ease-in-out-sine:  cubic-bezier( 0.445,  0.050,  0.550,  0.950 );
$ease-in-out-expo:  cubic-bezier( 1.000,  0.000,  0.000,  1.000 );
$ease-in-out-circ:  cubic-bezier( 0.785,  0.135,  0.150,  0.860 );
$ease-in-out-back:  cubic-bezier( 0.680, -0.550,  0.265,  1.550 );

/* ACTUALLY START THE STYLING */

.panel {
  transition: cubic-bezier( 0.680, -0.550,  0.265,  1.550 ) 0.35s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(0deg) translate(-50%, -50%);
  transform-origin: center center;
  width: 1050px;
  height: 700px;

  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.525);
  outline: 2px solid rgba(0, 0, 0, 0.055);
  background-color: rgba(255, 255, 255, 0.252);
  font-family: var(--font-montserrat);
  font-weight: bold;
  border-radius: 8px;
  padding: 6px;
  text-align: center;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);


  a {
    color: black;
    text-decoration: dotted underline;
    font-weight: 600;
  }
}
.panel.warning {
    height: 200px;

}

.panel:hover {
 transform: translate(-50%, -50%) scale(1.015) ;
}

.footer {
  transition: $ease-in-out-back 0.35s;
  position: absolute;
  bottom: 0px;
  transform: translateY(100%);
  width: 100%;
  height: 150px;
  background-color: rgb(10, 10, 10);
  border: 0px;
  color: rgb(126, 126, 126);
  padding: 8px;
  font-size: 24px;
}


/* RESCALING FOR CERTAIN DEVICES */

@media (max-width: 1088px) {
  .panel {
    width: 96.5%;
  }
  .footer {
    text-align: center;
    height: 250px;
  }
}

@media (max-height: 725px) {
  .panel {
    height: 97.5%;
  }
}

@media (max-height: 235px) {
  .panel.warning {
    height: 90%;
  }
}


