---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class=" w-full h-full">
        <h1 class="text-center text-5xl 640px:text-4xl font-bold">Page not found.</h1>
    </div>
</Layout>