---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="w-full h-full flex flex-col justify-top items-center gap-8">
		<h1 class="text-center text-5xl 640px:text-7xl font-bold">Welcome to my <br/>website!</h1>
		<button onclick="" class="button-primary">About me</button>
	</div>

</Layout>
